.wrapper {
  text-align: center;
  padding: 2rem;

  .userInfo {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .avatar {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    .name {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
